#bar {
    background-color: #333;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    height:5vh;
}


.bar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.bar-list li {
    width: 20%;
    display: inline;
    margin: 0 15px;
}

.bar-list li a {
    text-align: center;
    transform: translateY(-80%);
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

