#bar {
    background-color: #333;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    height:5vh;
}


.bar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.bar-list li {
    width: auto;
    display: inline-block;
    margin: 0 10px;
}

.bar-list li a, button {
    display: inline-block;
    text-align: center;
    color: white;
    padding: 0.5em 1em; 
    text-decoration: none;
    font-size: 1em; 
    border-radius: 4px;
    transition: background-color 0.3s;
    border: none;
}
