/* Basic styling for the body and layout */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

/* Home section */
#home {
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}

/* Headline styling */
h1 {
    color: #333;
    font-size: 2.5em;
    margin-bottom: 20px;
}

h2{
    margin: 10px;
}

p{
    margin : 5px;
}
/*
/* Button styling */
button {
    background-color: #6a94d1;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3f60d6;
}
*/


body {
    font-family: Arial, sans-serif;
}

.tab-container {
    margin: 20px;
}

.tabs {
    display: flex;
}

.tab-button {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    background-color: #5bb0e5;
    margin-right: 5px;
    transition: background-color 0.3s;
}

.tab-button:hover {
    background-color: #0c63cd;
}

.tab-button.active {
    background-color: #0c63cd;
}

.tab-content {
    border-top: 1px solid #ccc;
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}


