
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* Prevent page scroll */
    display: flex;
    /* Use flexbox to center content */
    justify-content: flex-start;
    /* Align items to the left */
    align-items: center;
    /* Center vertically */
    height: 100vh;
    /* Full view height */
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lines-container {
    width: 400px;
    /* Set a fixed width for the container */
    height: 400px;
    /* Set a fixed height for the container */
    overflow-y: hidden;
    /* Hide scrollbars */
    position: relative;
    border: 1px solid #ccc;
    /* Add border to the box */
    background: #fff;
    /* Set a background color */
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    /* Add a shadow for depth */
    
    margin-left: 400px;
    margin-right: 20px;
}

.big-input {
    width: 300px; /* Width of the input field */
    height: 400px; /* Height to match the lines-container */
    font-size: 24px;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1); /* Add a shadow for depth */
}

.line {
    height: 100px;
    /* Example height for each line */
    margin: 20px 0;
    /* Spacing between lines */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    background: #f0f0f0;
    transition: background 0.5s;
    /* Smooth background change */
    outline : none;
}

.line.current {
    /* Remove focus outline */
    background: #beb8ff;
    /* Highlight the focused line */
}


.line.isCorrect {
    background: #b0ffb0;
}

.line.isIncorrect {
    background: #ffb3a3;
}