#logbar {
    background-color: #333;
    padding: 15px 50px 15px 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    text-align: right; /* Center the content inside the navbar */
}

.logbar-list {
    list-style-type: none;
    display: inline-block; /* Make the ul inline-block to center it */
    margin: 0;
    padding: 0;
}

.logbar-list li {
    display: inline;
    margin: 0 15px;
}

.logbar-list li a {
    transform: translateY(-80%);
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

#guestButton {
    background-color: #4CAF50;
    color: white; 
    border: none; 
    border-radius: 5px; 
    padding: 8px 16px; 
    font-size: 18px; 
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s; 
}

#guestButton:hover {
    background-color: #45a049;
}

#signinButton {
    background-color: rgb(20, 135, 173);
}
#signinButton:hover {
    background-color: rgb(10, 104, 136);
}


#loginButton {
    background-color: rgb(55, 167, 42);
}

#loginButton:hover {
    background-color: rgb(39, 126, 29);
}

