.param-div{
    width: 400px;
}
#levelButtons {
    display: none;
    margin-top: 20px;
}

.level-button {
    width: auto;
    max-width: 150px;
    padding: 0.6em 1em;
    margin: 10px;
    display: inline-block;
    background-color: rgb(44, 167, 243);
    color: white;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s, transform 0.2s;
}

#logoutButton:hover {
    background-color: rgb(23, 129, 196);
}



#configForm,
#configDiv {
    display: none;
    width: 100%;
}


input[type="number"],
input[type="checkbox"] {
    width: calc(100% - 20px);
    /* Full width with padding */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="checkbox"] {
    width: auto;
    margin: 0 5px;
}


#configForm #ope-list {
    margin-bottom: 15px;
}

#configForm #ope-list ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

#configForm #ope-list li {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

#configForm #ope-list label {
    margin-right: 5px;
}



#customButton {
    background-color: rgb(96, 220, 127);
}

#customButton:hover {
    background-color: rgb(59, 170, 86);
}

#experimentalButton {
    background-color: rgb(220, 121, 96);
}

#experimentalButton:hover {
    background-color: rgb(177, 82, 58);
}