body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* or any desired height */
    text-align: center;
}


#preview h1 {
    font-size: 3.5em;
    color: #00b395;
}

#preview p {
    font-size: 1.5em;
    line-height: 1.6;
}
#preview img {
    margin: 10px;
    border-radius: 15px;
    border: 1px solid gray;
}