<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/dashboard.css">
</head>

<body>
    <div id="navbar"></div>
    <script>
        fetch('/partial/navbar.html')
            .then(response => response.text())
            .then(data => document.getElementById('navbar').innerHTML = data);
    </script>

    <div id="home">
        <h1>Welcome to the Dashboard Page!</h1>
        <button id=getAnswersButton>Get Answers</button>
        <button id=countOperations>Count Operations</button>
        <button id=plusAverageButton>Average score for +</button>
        <button id=minusAverageButton>Average score for -</button>
        <button id=timesAverageButton>Average score for x</button>

    </div>

    
    <script type="module" src="/js/dashboard-script.js"></script>
</body>

</html>