<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/dashboard.css">

    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js" ></script>

</head>


<body>
    <div id="navbar"></div>
    <script>
        fetch('/partial/navbar.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('navbar').innerHTML = data;
                // Load your navbar script here after the navbar is inserted
                return import('/js/ui-script/navbar-script.js');
            })
            .catch(error => console.error("Error loading navbar:", error));
    </script>


    <div id="home">
        <h1>Welcome to the Dashboard Page!</h1>

        <h2>Number of sessions by day</h2>
        <canvas id="myChart" width="400" height="200"></canvas>

        <script type="module" src="/js/ui-script/dashboard-script.js"></script>


    </div>



</body>

</html>