<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise</title>

    <link rel="stylesheet" href="/css/exercise.css">
</head>


<body>
    <div id="bar"></div>
    <script>
        fetch('/partial/navbar.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('bar').innerHTML = data;
                // Load your navbar script here after the navbar is inserted
                return import('/js/ui-script/navbar-script.js');
            })
            .catch(error => console.error("Error loading navbar:", error));
    </script>


    <div class="main-container">
        <div class="lines-container" id="linesContainer"></div>

        <div class="input-container">
            <textarea class="big-input" id="answer-input" placeholder="Type here..."></textarea>
            <div id="errorMessage" class="error-message">Error</div>
            <a href="/dashboard" class="button" id="dashboardButton">Go to Results</a>
            <div id="totalDurationMessage"></div>

        </div>
    </div>
    

    <script type="module" src="/js/ui-script/exercise-script.js"></script>
</body>

</html>