<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise Page Title</title>
    
    <link rel="stylesheet" href="/css/exercise.css">
</head>

<body>
    <div id="navbar"></div>
    <script>
        fetch('/partial/navbar.html')
            .then(response => response.text())
            .then(data => document.getElementById('navbar').innerHTML = data);
    </script>
    

    <div class="middle-rounded-container">
        <h1>Exercise</h1>
        <div class="numbers-container">
            <p id="value1" class="random-number"></p>
            <p id="randomOperation" class="random-number"></p>
            <p id="value2" class="random-number"></p>
        </div>

        <p>Enter your answer below:</p>
        <input type="text" id="userAnswer" class="answer-input" placeholder="Type your answer here" />


        <button id=exSubmitButton>Submit</button>
        <p id="feedback" class="feedback"></p>
        <p id="timeTaken" class="time-taken"></p>
        
    </div>

    <script src="/js/exercise-script.js"></script>
</body>

</html>
