<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <div id="navbar"></div>
    <script>
        fetch('/partial/navbar.html')
            .then(response => response.text())
            .then(data => document.getElementById('navbar').innerHTML = data);
    </script>


    <div id="home">

        <h1>Welcome to the Home Page!</h1>
        
            <p id="user-name"></p>


        <p>This is the main landing page of our website.</p>

        <script type="module" src="/js/ui-script/home-script.js"></script>
    </div>
</body>

</html>