<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged out</title>
    <link rel="stylesheet" href="/css/base-theme.css">
    <link rel="stylesheet" href="/css/title-theme.css">
</head>

<body>
    <div id="bar"></div>
    <script>
        fetch('/partial/logbar.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('bar').innerHTML = data;
                return import('/js/ui-script/logbar-script.js');
            })
            .catch(error => console.error("Error loading logbar:", error));
    </script>

    <div class="basic-title-div">
        <h1>You have been logged out</h1>
        <a href="/" class="base-button half-button">Go back to preview</a>
    </div>
</body>

</html>