<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged out</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <div id="logbar"></div>
    <script>
        fetch('/partial/logbar.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('logbar').innerHTML = data;
                // Load your logbar script here after the logbar is inserted
                return import('/js/ui-script/logbar-script.js');
            })
            .catch(error => console.error("Error loading logbar:", error));
    </script>


    <div id="home">

        <h1>You have been logged out</h1>
        <a href="/login" class="button">Go to Login</a>

    </div>
</body>

</html>