<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preview</title>
    <link rel="stylesheet" href="/css/base-theme.css">
    <link rel="stylesheet" href="/css/title-theme.css">
</head>

<body>
    <div id="bar"></div>
    <script>
        fetch('/partial/logbar.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('bar').innerHTML = data;
                return import('/js/ui-script/logbar-script.js');
            })
            .catch(error => console.error("Error loading logbar:", error));
    </script>

    <div class="basic-title-div">
        <h1>Welcome to Focus Flow! (dev)</h1>
        <p>A program designed to refresh and enhance mental flow and focus abilities.</p>
        <img src="/img/ex_exercise.png" width="50%" alt="Example image of an exercise">
    </div>

    <script type="module" src="/js/ui-script/preview-script.js"></script>
</body>

</html>