<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preview</title>
    <link rel="stylesheet" href="/css/base-theme.css">
    <link rel="stylesheet" href="/css/title-theme.css">
</head>

<body>
    <div id="bar"></div>
    <script>
        fetch('/partial/logbar.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('bar').innerHTML = data;
                return import('/js/ui-script/logbar-script.js');
            })
            .catch(error => console.error("Error loading logbar:", error));
    </script>

    <div class="basic-title-div">
        <h1>Welcome to Focus Flow!</h1>
        <h3>An application to test your math skills! </h3>
        <h3>This app provides a customizable set of math questions at various difficulty levels and offers an interactive dashboard to track performance.</h3>
        <h3>Use the guest mode to explore sample data or sign up to save your personalized stats.</h3>
        
        <img src="/img/exercise_demo.gif" alt="gif of an exercise" width="50%">

    </div>

    <script type="module" src="/js/ui-script/preview-script.js"></script>
</body>

</html>